@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /* HOME */

  .home__body {
    padding: 30rem 2rem 1rem 10rem;
  }

  .home__banner {
    display: flex;
    justify-content: space-between;
  }

  .home__banner-desc {
    display: flex;
    flex-direction: column;
  }

  .home__banner-desc h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 6.6rem;
    color: #e6f1ff;
    white-space: nowrap;
    border-right: 1px solid #ef3636;
    overflow: hidden;
    margin: 0 auto;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #ef3636;
    }
  }

  .home__banner-desc i {
    color: #e6f1ff;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", sans-serif, Arial, sans-serif, calibre, "San Francisco",
      "SF Pro Text", system-ui;
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  .button-slide {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-size: 1.4rem;
    color: #e6f1ff;
    width: 17.5rem;
    border: 1px solid #f06449;
    letter-spacing: 3px;
    padding: 12px 20px;
    box-shadow: inset 0 0 0 0 #ef3636;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", sans-serif, Arial, sans-serif, calibre, "San Francisco",
      "SF Pro Text", system-ui;
  }

  .slide-diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #ef3636;
    padding-right: 5px;
  }

  .home__banner-social {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .home__banner-social-item {
    margin-bottom: 2rem;
  }

  .home-mouse {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    color: #e6f1ff;
    -webkit-animation: scroll 1s infinite alternate;
    animation: scroll 1s infinite alternate;
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  /* Description */

  .description__body {
    padding: 7rem 10rem 3rem 1rem;
  }

  .description__01 {
    margin-left: 30rem;
  }

  .description__01-head {
    display: flex;
    justify-content: space-around;
  }

  .description__01-head h1 {
    color: #e6f1ff;
    font-size: 7.76rem;
    line-height: 10rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  .description__01-i {
    font-size: 4rem;
    font-weight: 500;
    color: #ef3636;
  }

  /* End of Description */

  /* Project */

  .project__body {
    padding: 9rem 10rem 3rem 1rem;
  }

  .project__02 {
    margin-left: 40rem;
  }

  .project__02-head {
    display: flex;
    flex-direction: row;
  }

  .project__02-head h1 {
    color: #e6f1ff;
    font-size: 7.76rem;
    line-height: 10rem;
    font-weight: bold;
    padding-left: 5rem;
    font-family: "Montserrat", sans-serif;
  }

  .project__02-i {
    font-size: 4rem;
    font-weight: 500;
    color: #ef3636;
  }

  .project__hr {
    border: 0.5px solid #ef3636;
    margin-top: 2rem;
    margin-left: 10rem;
  }

  .project__detail {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    margin-bottom: 20rem;
  }

  .project__detail1 {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 35.2rem;
  }

  .project__desc-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", sans-serif, Arial, sans-serif, calibre, "San Francisco",
      "SF Pro Text", system-ui;
    color: #e6f1ff;
    margin-bottom: 5rem;
  }

  .plume {
    width: 50rem;
    height: 35.2rem;
    margin-bottom: 3rem;
  }

  .project__desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .project__desc span {
    color: #e6f1ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", sans-serif, Arial, sans-serif, calibre, "San Francisco",
      "SF Pro Text", system-ui;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .project__desc-hr {
    border: 0.5px solid #ef3636;
  }

  .project__detail2 {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 35.2rem;
    margin-left: 5rem;
  }

  .project__detail2 a {
    text-decoration: none;
  }

  .digitx {
    width: 20rem;
    height: 35.2rem;
    margin-bottom: 3rem;
    box-shadow: 0 20px 80px 0 rgba(92, 91, 91, 0.45);
  }

  .digitx2 {
    display: none;
  }

  .project__detail3 {
    margin-left: 7rem;
    margin-top: 20rem;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .button {
    font-weight: 400;
    line-height: 1.2;
    -webkit-box-pack: center;
    display: inline-flex;
    vertical-align: top;
    -webkit-box-align: center;
    align-items: center;
    white-space: normal;
    justify-content: center;
    position: relative;
    border: 0.5px solid #0000;
    outline: 0.5px solid #0000;
    padding: 1.5rem;
    border-radius: 50%;
    transition: 0.5 all;
  }

  .button .arrowdown {
    transform: rotate(90deg);
    width: 5rem;
  }

  .button--outline--light {
    border-color: #ef3636;
    background-color: transparent;
    color: #e6f1ff;
  }

  .button--large {
    height: calc(146px + 274 * (100vw - 320px) / 1600);
    width: calc(146px + 274 * (100vw - 320px) / 1600);
  }

  .overlay {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #e6f1ff;
  }

  .button:hover .overlay {
    opacity: 1;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .text {
    color: #000;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .project__detail-second {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    margin-bottom: 20rem;
  }

  .project__detail-row2-1 {
    margin-left: 7rem;
  }

  .button .arrowright {
    transform: rotate(45deg);
    width: 5rem;
  }

  .project__detail-row2-2 {
    margin-left: 5rem;
    margin-top: 20rem;
  }

  .project__detail-row2-2 a {
    text-decoration: none;
  }

  .creatella {
    width: 50rem;
    height: 35.2rem;
    margin-bottom: 3rem;
  }

  .project__detail-row2-3 {
    margin-left: 5rem;
    margin-top: 10rem;
  }

  .project__detail-row2-3 a {
    text-decoration: none;
  }

  .calenpoint {
    width: 20rem;
    height: 35.2rem;
    margin-bottom: 3rem;
    box-shadow: 0 20px 80px 0 rgba(92, 91, 91, 0.45);
  }

  .calenpoint2 {
    display: none;
  }

  /* End of Project */

  /* About */

  .about__body {
    padding: 1rem 10rem 3rem 1rem;
  }

  .about__02 {
    margin-left: 30rem;
  }

  .about__02-head {
    display: flex;
    flex-direction: row;
  }

  .about__02-head h1 {
    color: #e6f1ff;
    font-size: 7.76rem;
    line-height: 10rem;
    font-weight: bold;
    padding-left: 5rem;
    font-family: "Montserrat", sans-serif;
  }

  .about__02-i {
    font-size: 4rem;
    font-weight: 500;
    color: #ef3636;
  }

  .about__hr {
    border: 0.5px solid #ef3636;
    margin-top: 2rem;
    margin-left: 10rem;
  }

  .about__me {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", sans-serif, Arial, sans-serif, calibre, "San Francisco",
      "SF Pro Text", system-ui;
    font-weight: 400;
    font-size: 1.8rem;
    color: #e6f1ff;
    margin-left: 35rem;
    margin-top: 10rem;
  }

  .about__me a {
    text-decoration: none;
    color: #ef3636;
  }

  .about__skill {
    margin-left: 5rem;
    margin-top: 10rem;
  }

  .about__skill h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", sans-serif, Arial, sans-serif, calibre, "San Francisco",
      "SF Pro Text", system-ui;
    font-size: 3rem;
    font-weight: 400;
    color: #e6f1ff;
    line-height: 5rem;
  }

  .skill {
    margin-top: 3rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .skill span {
    font-weight: 200;
    font-size: 1.5rem;
    border: 0.5px solid #ef3636;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.9rem;
    color: #e6f1ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", sans-serif, Arial, sans-serif, calibre, "San Francisco",
      "SF Pro Text", system-ui;
  }

  /* End of About */

  /* Contact */

  .contact__body {
    padding: 9rem 10rem 3rem 10rem;
  }

  .contact__details {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 5rem;
    line-height: 6rem;
    color: #e6f1ff;
  }

  .contact__details a {
    color: #ef3636;
    text-decoration: none;
  }

  /* End of Contact */
}
